<h1>$restaurant.getRestName()'s Hours</h1>


<form action='/cuisines/$cuisine.getCuisineId()/restaurant/$restaurant.getRestId()/hours' method='post'>
  <div class='form-group'>
    <label>Add Hours:</label>
    <input type="text" name="hours" id="hours" class="form-control">
  </div>
  <button type="submit" class='btn'>Submit!</button>
</form>
